# Compiler files
cache/
out/

# Ignores development broadcast logs
smart-contracts/broadcast/
smart-contracts/broadcast/*/31337/
smart-contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

plans/

node_modules